/*THIS CODE APPLIES TO THE WHOLE DOCUMENT!.*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
/*SCROLL BEHAVIOUR OF THE WHOLE DOCUMENT.*/
html {
    scroll-behavior: smooth;
}

/*HEADER.*/
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
    margin-left: 10px;
    margin-right: 15px;
}

/*THE OVERLAY (BACKGROUND).*/
.overlay {
    /*HEIGHT & WIDTH DEPENDS ON HOW YOU WANT TO REVEAL THE OVERLAY.*/   
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    color: #fff;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.9); 
    overflow-x: hidden; 
    transition: 0.5s; 
  }
  
  /*POSITION THE CONTENT INSIDE THE OVERLAY .*/
  .overlay-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 15px;
    margin-right: 0px;
    position: relative;
    top: 25%; 
    width: 100%;
    text-align: center; 
    margin-top: 30px;
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; 
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color.*/
  .overlay a:hover, .overlay a:focus, form, .form, .contact-information {
    color: #f1f1f1;
  }
  
  /*POSITION THE CLOSE BUTTON (TOP RIGHT CORNER).*/
  .overlay .closebtn {
    position: top;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }

  .g-recaptcha {
    display: flex;
    justify-content: center;
  }

  /*WHEN THE HEIGHT OF THE SCREEN IS LESS THAN 450 PIXELS, CHANGE THE FONT-SIZE OF THE LINKS AND POSITION THE CLOSE BUTTON AGAIN, SO THEY DON'T OVERLAP.*/
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }

/*HOME.*/
#home body {
    background-color: #252627;
}
    /*NAVIGATION BAR.*/
    .top-bar, #nav-bar, #work {
        background-color: #181818;
    }
    /*TOP-BAR LINKS.*/
    li {
        list-style: none;
        margin-left: 30px;
    }

    /*LINKS.*/
    a {
        text-decoration: none;
        font-size: .9rem;
        text-transform: uppercase;
        position: relative;
        top: 50%;
        bottom: 50%;
        transform: translateY(-50%);
    }

    /*NAV UL, MAIN-CONTENT & WORK CONTAINERS.*/
    nav ul, .main-content, .about {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .links {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .main-content {
        align-items: center;
    }
    h2 {
        color: #fff;
        font-size: 3rem;
        cursor: context-menu;
    }
    h3 {
        color: #363636;
        font-size: 5rem;
        cursor: context-menu;
    }
    .contact-me a {
        color: red;
        text-decoration: powderblue;
        border-style: double;
        border-color: red;
        border-radius: 10px;
        padding: 5px 10px 5px 10px;
      }
      
      .contact-me a:hover {
        color: whitesmoke;
        background-color: red;
        padding: 5px 10px 5px 10px;
      }
    

/* Slideshow container */
.slideshow-container {
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin: auto;
}

/*Hide the images by default*/
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Number text (1/5 etc) */
.number-text {
  color:powderblue;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  top: 13px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.work {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer {
    background-color: #181818;
}
